@page
@model BibliotecaPublica.Pages.Admin.Libros.BusquedaModel

@{
    ViewData["Title"] = "Busqueda";
}

<h1>Busqueda</h1>

<style type="text/css">
    a {
        background-color: #f6897a;
        color: #000000;
        font-family: Verdana;
        padding: 10px;
        font-weight: bold;
    }

    h1 {
        color: #fff;
    }

    h4 {
        color: #8ba6fe;
    }

    th {
        color: #283cd4;
        font-weight: bolder;
        font-size: 25px;
    }

    td {
        color: #000000;
        font-size: 18px;
    }

    .table {
        background-color: #f2f2f2;
    }

    .row {
        color: #fff;
        font-size: 20px;
    }
</style>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Consulta" class="form-control" />
        <button class="btn btn-sm btn-info">Buscar</button>
        <span asp-validation-for="Consulta" class="text-danger"></span>
    </div>
    
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibroModel[0].Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroModel[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroModel[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroModel[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroModel[0].Publicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LibroModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publicacion)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
