@page
@model BibliotecaPublica.Pages.Admin.Libros.IndexModel

@{ ViewData["Title"] = "Home page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Grupo #1</p>
</div>



<div class="container"> 

    <div class="row">
        @foreach(var item in Model.LibroModel) {
        <div class="col-lg-4">

            <div class="card">
                <img class="card-img-top" src="~/img/immm.svg" alt="card image">
                <div class="card-header">
                    Titulo del Libro
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item model.libroModel.Titulo</h5>
                    <p class="card-text"> Lorem descripcion</p>
                </div>
            </div>
        </div>
        }</div> 
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibroModel[0].Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroModel[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroModel[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroModel[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroModel[0].Publicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LibroModel)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Codigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Categoria.Titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Autor.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Publicacion)
    </td>
    <td>
        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>