@page
@model BibliotecaPublica.Pages.Admin.Autores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Autores</h1>

<style type="text/css">
    a {
        background-color: #f6897a;
        color: #000000;
        font-family: Verdana;
        padding: 10px;
        font-weight: bold;
    }

    h1 {
        color: #fff;
    }

    th {
        color: #283cd4;
        font-weight: bolder;
        font-size: 25px;
    }

    td {
        color: #000000;
        font-size: 18px;
    }

    .table {
        background-color: #f2f2f2;
    }
</style>

<p>
    <a asp-page="Create">Crear Nuevo Autor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutorModel[0].Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AutorModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
