@page
@model BibliotecaPublica.Pages.Admin.Almacen.Inventario.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Inventarios</h1>

<p >
    <a id='visor_imagenes' asp-page="Create">Crear nuevo Inventario</a>
</p>

<style type="text/css">
    a {
        background-color: #f6897a;
        color: #000000;
        font-family: Verdana;
        padding: 10px;
        font-weight: bold;
    }

    h1 {
        color: #fff;
    }

    th {
        color: #283cd4;
        font-weight: bolder;
        font-size: 25px;
    }

    td {
        color: #000000;
        font-size: 18px;
    }

    .table {
        background-color: #f2f2f2;
    }

</style>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventarioModel[0].Libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioModel[0].Archivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioModel[0].EstaDisponible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InventarioModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libro.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaDisponible)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
